node_modules
App/backend/node_modules
App/frontend/node_modules

Containers_Version/image_sources/*/.env
Kubernetes_Version/container_sources/*/.env

App/backend/keys/*
Containers_Version/image_sources/*/keys
Kubernetes_Version/container_sources/*/keys

App/backend/build/*
App/frontend/build/*
Containers_Version/image_sources/*/build/*
Kubernetes_Version/container_sources/*/build/*

App/backend/assets/uploads/*